<% include ./partials/header %>
<body class = "mobile-shift">

  <header>
    <% include ./partials/navbar %>
    <% include ./partials/slide-out-nav %>
  </header>

  <div class = "alerts">
    <% if(error && error.length > 0){ %>
      <div class="alert--userhome alert--red" role="alert">
        <%= error %>
      </div>
    <% } %>
    <% if(success && success.length > 0){ %>
      <div class="alert--userhome alert--green" role="alert">
        <%= success %>
      </div>
    <% } %>
  </div>


<section class = "messenger">
  <nav class="topnav">
    <a href="#" >select a contact to chat with</a>
  </nav>
  <!-- contact list -->
  <div class="contacts-list-chat">
    <div id="sideNavigation" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" >&times;</a>
      <ul id="contact-list">
        <% currentUser.friends.forEach(function(friends){ %>
        <% if(friends){ %>
        <li class = "contact">
          <!-- <span class = "contact-name"><%= friends.friend_name %></span> -->
          <!-- <a class = "btn btn-sm btn-info" href="/user-profile/<%= friends.member_id %>">view</a> -->
          <button id = "<%= friends.friend_name %>" class="btn btn-sm btn--info chatBtn" type="button" name="button"><%= friends.friend_name %></button>

        </li>
        <% }}) %>
      </ul>
    </div>
  </div>

  <!-- chatBox -->
  <div id="chatWrap" class="chatBoxWrap">
    <div id = "chatTitle" class="chat--title">
      Choose a contact to chat with
    </div>
    <div id="chat" class="chat"></div>
    <form id="send-message" class="send-message-form">
      <textarea class = "msgInput "id="message" size="35"> </textarea>
      <input class = "btn msgSendBtn" type="submit"></input>
    </form>
  </div>

</section>



</body>
<!-- <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/functions.js"></script>
<script type="text/javascript">
  jQuery(function($){
    const socket = io.connect();
    const $messageForm = $('#send-message');
    const $messageBox = $('#message');
    const $chat = $('#chat');
    const $chatBtn = $('.chatBtn');
    const $chatTitle = $('#chatTitle');

    $chatBtn.on("click", function(){
      const clicked_button = $(this);
      $chatTitle.attr("id", clicked_button.attr("id"))
      $chatTitle.html(clicked_button.attr("id"))
      $chat.html('');
      const data = { from: '<%=currentUser.username%>', to: clicked_button.attr("id")}
      socket.emit('get old msgs', data, function(){

      })
      $('#sideNavigation').width('0px');
    });


    socket.emit('new user', '<%=currentUser.username%>', function(data){
    if (data){
            console.log("OK!!!");
          } else {
            console.log("NOT OK!!!")
          }
    });

        //submit message event-handler
        $('#send-message').submit(function(e){
          e.preventDefault();
          if(($chatTitle.attr("id")!=='chatTitle')&&($messageBox.val().length > 0)){
            const msgData = {
              body: $messageBox.val(),
              author: '<%=currentUser.username%>',
              to: $chatTitle.attr("id")
            }
            socket.emit('send message', msgData, function(data){
              $chat.append('<span class="error">' + data + "</span><br/>");
            });
            $messageBox.val('');
          } else {
            console.log("false");
          }
        });

        socket.on('load old msgs', function(docs){
          for( i=docs.length-1; i>=0; i--){
            console.log("docs: ", docs[i]);
            displayMsg(docs[i])
          }
        });

        socket.on('whisper', function(data){
          if((data.author===$chatTitle.attr("id"))||(data.author==='<%=currentUser.username%>')){
            console.log("data.body:", data.body);
            console.log("data.author:", data.author);
            displayMsg(data);
          }
        });

        function displayMsg(data){
          if (data.author==='<%=currentUser.username%>'){
            $chat.prepend('<div><div class="msg msg-from">' + data.body + "</div></div><br/>");
          } else {
            $chat.prepend('<div><div class="chat-name">' + data.author + ': </div><div class="msg msg-to">' + data.body + "</div></div><br/>");
          }
        };


        $('.topnav a').click(function(){
          $('#sideNavigation').width('250px');

        });

        $('.contacts-list-chat--title a').click(function(){
          $('#sideNavigation').width('250px');
        });

        $('.closebtn').click(function(){
          $('#sideNavigation').width('0px');
        });



});

</script>
</html>
