<% include ../partials/header %>
<body class = "mobile-shift">
  <header>

  <% include ../partials/navbar %>
  <% include ../partials/slide-out-nav %>
  </header>
  <div class="profile-view">
    <div class="profile--header">
      <img class = "profile--pic"src="/images/profile-images/<%=currentUser.avatar%>" alt="">
      <h4 class="profile-view--title"><%= currentUser.username %></h4>
      <h4 class="profile--item">email: <%= currentUser.email %></h4>
      <h4 class="profile--item">member_id: <%= currentUser.member_id %></h4>
    </div>
    <div class="profile--item-group">
      <span class="profile--item" id="user-location">Location: <%= currentUser.profile[0].location.location %></span>
      <span class="profile--item-privacy" id="user-locationPriv"><%= currentUser.profile[0].location.privacy %></span>
    </div>
    <div class="profile--item-group">
      <span class="profile--item" id="user-phone">Phone: <%= currentUser.profile[0].phone.phone%></span>
      <span class="profile--item-privacy" id="user-phonePriv"><%= currentUser.profile[0].phone.privacy %></span>
    </div>
    <div class="profile--item-group">
      <span class="profile--item" id="user-email">Email: <%= currentUser.profile[0].email.email%></span>
      <span class="profile--item-privacy" id="user-emailPriv"><%= currentUser.profile[0].email.privacy %></span>
    </div>

    <div class="profile--item-group">
      <span class="profile--item" id="user-facebook">Facebook: <%= currentUser.profile[0].facebook.facebook%></span>
      <span class="profile--item-privacy" id="user-facebookPriv"><%= currentUser.profile[0].facebook.privacy %></span>
    </div>

    <div class="profile--item-group">
      <span class="profile--item" id="user-twitter">Twitter: <%= currentUser.profile[0].twitter.twitter%></span>
      <span class="profile--item-privacy" id="user-twitterPriv"><%= currentUser.profile[0].twitter.privacy %></span>
    </div>

    <div class="profile--item-group">
      <span class="profile--item" id="user-reddit">Reddit: <%= currentUser.profile[0].reddit.reddit%></span>
      <span class="profile--item-privacy" id="user-redditPriv"><%= currentUser.profile[0].reddit.privacy %></span>
    </div>

    <div class="profile--item-group">
      <span class="profile--item" id="user-snapchat">Snapchat: <%= currentUser.profile[0].snapchat.snapchat%></span>
      <span class="profile--item-privacy" id="user-snapchatPriv"><%= currentUser.profile[0].snapchat.privacy %></span>
    </div>

    <div class="profile--item-group">
      <span class="profile--item" id="user-instagram">Instagram: <%= currentUser.profile[0].instagram.instagram%></span>
      <span class="profile--item-privacy" id="user-instagramPriv"><%= currentUser.profile[0].instagram.privacy %></span>
    </div>

    <div class="profile--item-group">
      <span class="profile--item" id="user-github">Github: <%= currentUser.profile[0].github.github%></span>
      <span class="profile--item-privacy" id="user-githubPriv"><%= currentUser.profile[0].github.privacy %></span>
    </div>

      <button id = "edit-profile-btn" class="btn btn-sm btn-warning profile--btn-group" type="button" name="button">Edit Profile</button>
</div>
      <div id="edit-profile-container" class="container" style="display: none">
        <div class="profile-edit">

        <h2 class="profile-edit--title">Edit Profile</h1>
          <form id="edit-profile-form">

            <div class="profile-edit--group">
              <div class="profile-edit--input-group">
                  <label class = "profile-edit--label" for="locationInput">Location:</label>
                  <input class="profile-edit--input"id="locationInput" type="text" name="location" value="<%= currentUser.profile[0].location.location%>">
                </div>
                <div class="onoffswitch">
                  <input type="checkbox" name="locationCheckbox" class="onoffswitch-checkbox" id="locationCheckbox" checked>
                  <label class="onoffswitch-label" for="locationCheckbox">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </div>
            </div>

            <div class="profile-edit--group">
              <div class="profile-edit--input-group">
                <label class = "profile-edit--label" for="name">Email:</label>
                <input class="profile-edit--input" type="text" name="email" value="<%= currentUser.profile[0].email.email%>">
              </div>
              <div class="onoffswitch">
                <input type="checkbox" name="emailCheckbox" class="onoffswitch-checkbox" id="emailCheckbox" checked>
                <label class="onoffswitch-label" for="emailCheckbox">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>

            <div class="profile-edit--group">
              <div class="profile-edit--input-group">
                <label class = "profile-edit--label" for="name">Phone:</label>
                <input class="profile-edit--input" type="text" name="phone" value="<%= currentUser.profile[0].phone.phone%>">
              </div>
              <div class="onoffswitch">
                <input type="checkbox" name="phoneCheckbox" class="onoffswitch-checkbox" id="phoneCheckbox" checked>
                <label class="onoffswitch-label" for="phoneCheckbox">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>

              <div class="profile-edit--group">
                <div class="profile-edit--input-group">
                  <label class = "profile-edit--label" for="facebookInput">Facebook:</label>
                  <input class="profile-edit--input" id="facebookInput" type="text" name="facebook" value="<%= currentUser.profile[0].facebook.facebook%>">

                </div>
              <div class="onoffswitch">
                <input type="checkbox" name="facebookCheckbox" class="onoffswitch-checkbox" id="facebookCheckbox" checked>
                <label class="onoffswitch-label" for="facebookCheckbox">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>

            <div class="profile-edit--group">
              <div class="profile-edit--input-group">
                <label class = "profile-edit--label" for="twitterInput">Twitter:</label>
                <input class="profile-edit--input" id="twitterInput" type="text" name="twitter" value="<%= currentUser.profile[0].twitter.twitter%>">
              </div>
              <div class="onoffswitch">
                <input type="checkbox" name="twitterCheckbox" class="onoffswitch-checkbox" id="twitterCheckbox" checked>
                <label class="onoffswitch-label" for="twitterCheckbox">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>

            <div class="profile-edit--group">
              <div class="profile-edit--input-group">
                <label class = "profile-edit--label" for="redditInput">Reddit:</label>
                <input class="profile-edit--input" id="redditInput" type="text" name="reddit" value="<%= currentUser.profile[0].reddit.reddit%>">
              </div>
              <div class="onoffswitch">
                <input type="checkbox" name="redditCheckbox" class="onoffswitch-checkbox" id="redditCheckbox" checked>
                <label class="onoffswitch-label" for="redditCheckbox">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>

            <div class="profile-edit--group">
              <div class="profile-edit--input-group">
                <label class = "profile-edit--label" for="snapchatInput">Snapchat:</label>
                <input class="profile-edit--input" id="snapchatInput" type="text" name="snapchat" value="<%= currentUser.profile[0].snapchat.snapchat%>">
              </div>
              <div class="onoffswitch">
                <input type="checkbox" name="snapchatCheckbox" class="onoffswitch-checkbox" id="snapchatCheckbox" checked>
                <label class="onoffswitch-label" for="snapchatCheckbox">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>

            <div class="profile-edit--group">
              <div class="profile-edit--input-group">
                <label class = "profile-edit--label" for="instagramInput">Instagram:</label>
                <input class="profile-edit--input" id="instagramInput" type="text" name="instagram" value="<%= currentUser.profile[0].instagram.instagram%>">
              </div>
              <div class="onoffswitch">
                <input type="checkbox" name="instagramCheckbox" class="onoffswitch-checkbox" id="instagramCheckbox" checked>
                <label class="onoffswitch-label" for="instagramCheckbox">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>

            <div class="profile-edit--group">
              <div class="profile-edit--input-group">
                <label class = "profile-edit--label" for="githubInput">GitHub:</label>
                <input class="profile-edit--input" id="githubInput" type="text" name="github" value="<%= currentUser.profile[0].github.github%>">
              </div>
              <div class="onoffswitch">
                <input type="checkbox" name="githubCheckbox" class="onoffswitch-checkbox" id="githubCheckbox" checked>
                <label class="onoffswitch-label" for="githubCheckbox">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
            <div class="profile-edit--btn-group">
              <button id="cancel-edit-profile-btn" class="btn btn-lg btn-warning" type="button" name="button">cancel</button>
              <button id="save-edit-profile-btn" class="btn btn-lg btn-warning" type="button" name="button">save</button>
            </div>

          </form>
  </div>
</div>
</body>

<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/functions.js"></script>
<script type="text/javascript">

  $("#save-edit-profile-btn").on("click", function(){
    var url = "user-profile/edit/<%=currentUser.member_id%>";
    console.log("url", url);
    $.ajax({
      method: "PUT",
      url: url,
      data:  $("#edit-profile-form").serialize(),
      success: function(updated_user){

        $("#edit-profile-container").hide();
        console.log("updated_user: ", updated_user);
        $("#user-location").html("Location: " + updated_user.profile[0].location.location);
        $("#user-locationPriv").html(updated_user.profile[0].location.privacy);
        $("#user-facebook").html("Facebook: " + updated_user.profile[0].facebook.facebook);
        $("#user-facebookPriv").html(updated_user.profile[0].facebook.privacy);
        $("#user-phone").html("Phone: " + updated_user.profile[0].phone.phone);
        $("#user-phonePriv").html(updated_user.profile[0].phone.privacy);
        $("#user-email").html("Email: " + updated_user.profile[0].email.email);
        $("#user-emailPriv").html(updated_user.profile[0].email.privacy);
        $("#user-twitter").html("Twitter: " + updated_user.profile[0].twitter.twitter);
        $("#user-twitterPriv").html(updated_user.profile[0].twitter.privacy);
        $("#user-reddit").html("Reddit: " + updated_user.profile[0].reddit.reddit);
        $("#user-redditPriv").html(updated_user.profile[0].reddit.privacy);
        $("#user-snapchat").html("Snapchat: " + updated_user.profile[0].snapchat.snapchat);
        $("#user-snapchatPriv").html(updated_user.profile[0].snapchat.privacy);
        $("#user-instagram").html("Instagram: " + updated_user.profile[0].instagram.instagram);
        $("#user-instagramPriv").html(updated_user.profile[0].instagram.privacy);
        $("#user-github").html("Github: " + updated_user.profile[0].github.github);
        $("#user-githubPriv").html(updated_user.profile[0].github.privacy);
      }
    })
  })


  $("#edit-profile-btn").on("click", function(){
    $("#edit-profile-container").show();
  })
  $("#cancel-edit-profile-btn").on("click", function(){
    $("#edit-profile-container").hide();
  })

</script>
</html>
<!--FUNCTIONS  -->
