<% include ../partials/header %>
<body class = "mobile-shift">
<% include ../partials/navbar %>
<% include ../partials/slide-out-nav %>
<section class = "profile">
  <div class="profile-view">
    <img class = "profile--pic profile--item"src="/images/profile-images/<%=user.avatar%>" alt="">
    <h4 class="profile-view--title"><%= user.username %></h4>
    <h4 class="profile-view--title"><%= user.profile[0].realname.realname %></h4>
    <!-- <button id="<%= user.member_id %>" class = "chat_button" href="#">Chat</button> -->
    <!-- <h4 class="profile--item-group profile--item">member_id: <%= user.member_id %></h4> -->

    <div class="profile--item-group profile--item">
      <img class="profile--icon" src="/images/icons/iconmonstr-location-3-240.png" alt="">
      <%= user.profile[0].location.location %>
    </div>
    <div class="profile--item-group profile--item">
      <img class="profile--icon" src="/images/icons/iconmonstr-phone-8-240.png" alt="">
      <%= user.profile[0].phone.phone%>
    </div>
    <div class="profile--item-group profile--item">
      <img class="profile--icon" src="/images/icons/iconmonstr-email-10-240.png" alt="">
      <%= user.profile[0].email.email%>
    </div>
    <div class="profile--item-group profile--item">
      <div class="profile--links-title">links:</div>
      <div class="profile-item--icon-group">
        <a <%= (user.profile[0].facebook.privacy != "private")||(friend)  ? "" : 'style = display:none;' %> href="<%= user.profile[0].facebook.facebook%>" target="_blank" ><img class="profile--icon" src="/images/icons/iconmonstr-facebook-4-240.png" alt=""></a>
        <a <%= (user.profile[0].twitter.privacy != "private")||(friend)  ? "" : 'style = display:none;' %> href="<%= user.profile[0].twitter.twitter%>" target="_blank" ><img class="profile--icon" src="/images/icons/iconmonstr-twitter-4-240.png" alt=""></a>
        <a <%= (user.profile[0].reddit.privacy != "private")||(friend)  ? "" : 'style = display:none;' %> href="<%= user.profile[0].reddit.reddit%>" target="_blank" ><img class="profile--icon" src="/images/icons/iconmonstr-reddit-4-240.png" alt=""></a>
        <a <%= (user.profile[0].instagram.privacy != "private")||(friend)  ? "" : 'style = display:none;' %> href="<%= user.profile[0].instagram.instagram%>" target="_blank" ><img class="profile--icon" src="/images/icons/iconmonstr-instagram-14-240.png" alt=""></a>
        <a <%= (user.profile[0].snapchat.privacy != "private")||(friend)  ? "" : 'style = display:none;' %> href="<%= user.profile[0].snapchat.snapchat%>" target="_blank" ><img class="profile--icon" src="/images/icons/iconmonstr-snapchat-4-240.png" alt=""></a>
        <a <%= (user.profile[0].github.privacy != "private")||(friend)  ? "" : 'style = display:none;' %>href="<%= user.profile[0].github.github%>" target="_blank" ><img class="profile--icon" src="/images/icons/iconmonstr-github-4-240.png" alt=""></a>
      </div>
    </div>

        <!-- check if profile is a contact. FYI checkContact and checkRequestSent functions are declared at bottom of page -->
      <!-- if(currentUser.friends.some(checkContact)){ -->
      <% if(friend){ %>
        <h4 style="margin-top: 20px;" class="profile--item"><%= user.username %> is a contact!</h4>
      <% }else{ %>
        <!-- check if contact request has been sent -->
          <% if(currentUser.friend_requests_sent.some(checkRequestSent)){ %>
            <button style="" id = "contact-cancel-btn" class="btn btn-sm btn-warning profile--btn-group" type="button" name="button">cancel contact request</button>
            <button style="display: none" id = "contact-request-btn" class="btn btn-sm btn-warning profile--btn-group" type="button" name="button">send contact request</button>
          <% }else{ %>
            <!-- not a contact and no contact request has been sent -->
            <button style="display: none" id = "contact-cancel-btn" class="btn btn-sm btn-warning profile--btn-group" type="button" name="button">cancel contact request</button>
            <button style="" id = "contact-request-btn" class="btn btn-sm btn-warning profile--btn-group" type="button" name="button">send contact request</button>
          <% } %>
      <% } %>

  </div>
</section>

<div id="chat_section_wrapper">

</div>

</body>

<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/functions.js"></script>
<script type="text/javascript">

  $("#contact-request-btn").on("click", function(){
    $.ajax({
        method: "GET",
        url: "/contacts/contact-request/<%=user._id%>",
        success:  function(){
          $("#contact-request-btn").hide();
          $("#contact-cancel-btn").show();

        }
      })
  })

  $("#contact-cancel-btn").on("click", function(){
    $.ajax({
      method: "POST",
      url: "/contacts/contact-cancel-request",
      contentType: "application/json",
      dataType: "json",
      data: JSON.stringify({"id": "<%=user.member_id%>"}),
      success: function(){
        $("#contact-request-btn").show();
        $("#contact-cancel-btn").hide();
      }
    })
  })

  $(".chat_button").on("click", function(){
    var chat_box = `<div class="chat_section">
                      <div id="chat_title_section">
                        <span>linku.me chat</span>
                        <div class="chat_close">
                          <img src="/images/node_connect_close.png">
                        </div>
                      </div>
                      <div class="all_chat_messages">
                      </div>
                      <div id="send_message">
                      <input id="send_message_input" type="text" placeholder="Send Message">
                      </div>
                    </div>`

      $("#chat_section_wrapper").append(chat_box);
  })

  $(document).on("click",".chat_close", function(){
    $(".chat_section").remove();
  })



</script>
</html>
<!--FUNCTIONS  -->
<%function checkRequestSent(el){%>
  <%return el.friend_name === user.username; %>
<%}%>

<%function checkContact(el){%>
  <%return el.friend_name === user.username; %>
<%}%>
