<% include ../partials/header %>
<body class = "mobile-shift">
<% include ../partials/navbar %>
<% include ../partials/slide-out-nav %>
<section class = "profile">
  <div class="profile-view">
    <img class = "profile--pic profile--item"src="/images/profile-images/<%=user.avatar%>" alt="">
    <h4 class="profile--item-group profile-view--title"><%= user.username %></h4>
    <h4 class="profile--item-group profile--item">member_id: <%= user.member_id %></h4>
    <div class="profile--item-group profile--item">
      <img class="profile-item--icon" src="/images/icons/iconmonstr-location-3-240.png" alt="">
      <%= user.profile[0].location.location %>
    </div>
    <div class="profile--item-group profile--item">
      <img class="profile-item--icon" src="/images/icons/iconmonstr-phone-8-240.png" alt="">
      <%= user.profile[0].phone.phone%>
    </div>
    <div class="profile--item-group profile--item">
      <img class="profile-item--icon" src="/images/icons/iconmonstr-email-10-240.png" alt="">
      <%= user.profile[0].email.email%>
    </div>
    <div class="profile--item-group profile--item">
      <div class="profile-view--title">links:</div>
      <a <%= (user.profile[0].facebook.privacy != "private")||(friend)  ? "" : 'style = display:none;' %> href="<%= user.profile[0].facebook.facebook%>" target="_blank" ><img class="profile-item--icon" src="/images/icons/iconmonstr-facebook-4-240.png" alt=""></a>
      <a <%= (user.profile[0].twitter.privacy != "private")||(friend)  ? "" : 'style = display:none;' %> href="<%= user.profile[0].twitter.twitter%>" target="_blank" ><img class="profile-item--icon" src="/images/icons/iconmonstr-twitter-4-240.png" alt=""></a>
      <a <%= (user.profile[0].reddit.privacy != "private")||(friend)  ? "" : 'style = display:none;' %> href="<%= user.profile[0].reddit.reddit%>" target="_blank" ><img class="profile-item--icon" src="/images/icons/iconmonstr-reddit-4-240.png" alt=""></a>
      <a <%= (user.profile[0].instagram.privacy != "private")||(friend)  ? "" : 'style = display:none;' %> href="<%= user.profile[0].instagram.instagram%>" target="_blank" ><img class="profile-item--icon" src="/images/icons/iconmonstr-instagram-14-240.png" alt=""></a>
      <a <%= (user.profile[0].snapchat.privacy != "private")||(friend)  ? "" : 'style = display:none;' %> href="<%= user.profile[0].snapchat.snapchat%>" target="_blank" ><img class="profile-item--icon" src="/images/icons/iconmonstr-snapchat-4-240.png" alt=""></a>
      <a <%= (user.profile[0].github.privacy != "private")||(friend)  ? "" : 'style = display:none;' %>href="<%= user.profile[0].github.github%>" target="_blank" ><img class="profile-item--icon" src="/images/icons/iconmonstr-github-4-240.png" alt=""></a>
    </div>

        <!-- check if profile is a contact. FYI checkContact and checkRequestSent functions are declared at bottom of page -->
      <!-- if(currentUser.friends.some(checkContact)){ -->
      <% if(friend){ %>
        <h4 style="margin-top: 20px;" class="profile--item"><%= user.username %> is a contact!</h4>
      <% }else{ %>
        <!-- check if contact request has been sent -->
          <% if(currentUser.friend_requests_sent.some(checkRequestSent)){ %>
            <button style="" id = "contact-cancel-btn" class="btn btn-sm btn-warning profile--btn-group" type="button" name="button">cancel contact request</button>
            <button style="display: none" id = "contact-request-btn" class="btn btn-sm btn-warning profile--btn-group" type="button" name="button">send contact request</button>
          <% }else{ %>
            <!-- not a contact and no contact request has been sent -->
            <button style="display: none" id = "contact-cancel-btn" class="btn btn-sm btn-warning profile--btn-group" type="button" name="button">cancel contact request</button>
            <button style="" id = "contact-request-btn" class="btn btn-sm btn-warning profile--btn-group" type="button" name="button">send contact request</button>
          <% } %>
      <% } %>

  </div>
</section>
</body>

<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/functions.js"></script>
<script type="text/javascript">

  $("#save-edit-profile-btn").on("click", function(){
    $.ajax({
      method: "PUT",
      url: "./<%=user._id%>/edit",
      data:  $("#edit-profile-form").serialize(),
      success: function(updated_user){
        $("#edit-profile-container").hide();
        // console.log("updated_user", updated_user);
        $("#user-location").html("Location: " + updated_user.profile[0].location.location);
        $("#user-phone").html("Phone: " + updated_user.profile[0].phone);
        $("#user-email").html("Email: " + updated_user.profile[0].email);
        $("#user-facebook").html("Facebook: " + updated_user.profile[0].facebook.facebook);
        $("#user-twitter").html("Twitter: " + updated_user.profile[0].twitter);
        $("#user-reddit").html("Reddit: " + updated_user.profile[0].reddit);
      }
    })
  })


  $("#edit-profile-btn").on("click", function(){
    $("#edit-profile-container").show();
  })
  $("#cancel-edit-profile-btn").on("click", function(){
    $("#edit-profile-container").hide();
  })

  $("#contact-request-btn").on("click", function(){
    $.ajax({
        method: "GET",
        url: "/contacts/contact-request/<%=user._id%>",
        success:  function(){
          $("#contact-request-btn").hide();
          $("#contact-cancel-btn").show();

        }
      })
  })

  $("#contact-cancel-btn").on("click", function(){
    $.ajax({
      method: "POST",
      url: "/contacts/contact-cancel-request",
      contentType: "application/json",
      dataType: "json",
      data: JSON.stringify({"id": "<%=user.member_id%>"}),
      success: function(){
        $("#contact-request-btn").show();
        $("#contact-cancel-btn").hide();
      }
    })
  })



</script>
</html>
<!--FUNCTIONS  -->
<%function checkRequestSent(el){%>
  <%return el.friend_name === user.username; %>
<%}%>

<%function checkContact(el){%>
  <%return el.friend_name === user.username; %>
<%}%>
